

.ban {
  width: 70%;
}

@media (min-width: 672px) {
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .image-row {
    width: 100%;
    display: flex;
  }
}

@media (max-width: 350px) {
  .logo {
    width: 100%;
  }
}

@media (max-width: 671px) {
  .image-row {
    width: 100%;
    display: block;
  }
  .ban {
    width: 100%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.valid {
  margin-left: 5px;
  margin-right: 5px;
}

